<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h1> Jaswanthi Nannuru </h1>
      <h3> Am the scribe for this application </h3>
      <a href = "https://jaswanthinannuru.github.io/NJR/"> About me</a>

      <br>
      <br>
    </div>
  </div>
</div>